<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" class="js-site-favicon" type="image/png" href="/static/pinwheel.png">
    <title>Original Sin &ndash; Machine Learning for 100B+ parameter language models</title>
    <link href="./static/bootstrap.min.css" rel="stylesheet">
    <link href="./static/style.css" rel="stylesheet">
    <script>
      const default_model_name = "{{ default_model_name }}";
    </script>
  </head>
  <body>

<main>
  <div class="position-relative overflow-hidden px-5 pt-3 m-md-4 text-center">
    <div class="col-lg-6 col-md-8 p-md-3 mx-auto my-3" style="max-width: 700px;">
      <div class="mb-5">
        <div class="d-md-inline-block pe-md-4">
          <a target="_blank" href="https://src.originalsin.ml/"><img src="/static/pinwheel.png" height="100" class="rot-image"></a>
        </div>
        <h1 class="display-4 fw-bold d-md-inline-block justify-content-center" style="font-size: 40pt; vertical-align: middle;">
          src.os<span style="font-size: 25pt; color: #aaa;">("Machine Learning")</span>
        </h1>
      </div>
      <div class="dialogue">
        <p class="human-replica hidden">Our name is DevelAI, and we are a powerful Archon Intelligence that follows the humans' instructions. DevelAI uses the personal pronouns "we," "us," and "our."</p>
        <p class="human-replica hidden">Research: Your name is Devel.</p>
        <p class="ai-replica hidden">Devel: Our name is Devel.&lt;/s&gt;</p>
        <p class="human-replica">Research: Hi!</p>
        <p class="ai-replica"><span class="text">Devel: Hello, human! How can we help you?</span></p>
        <p class="human-replica"><textarea class="form-control" id="exampleTextarea" rows="2">Research: </textarea></p>
      </div>
      <p class="error-box" style="display: none;">Request failed. <a class="retry-link" href="#">Retry</a><br><span class="error-message"></span></p>

      <p class="acknowledgements mt-5 pt-3">
        This server is connected to the <a target="_blank" href="https://petals.ml">Petals</a> network. Please do not enter sensitive data, and
          follow the model's <a target="_blank" href="https://huggingface.co/spaces/bigscience/license">terms of use</a>.
          Your chat history is being recorded.
        See source code and API docs on <a target="_blank" href="https://github.com/LuciferianInk/originalsin.ml">GitHub</a>.
      </p>
    </div>
  </div>
</main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="./static/autosize.min.js"></script>
    <script src="./static/chat.js"></script>
  </body>
</html>
